*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.margin-top{
    margin-top: 130px;
}

.d-flex{
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}